

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="pure-g-r content-ribbon">
	<div class="pure-u-1">
		<h1>Quem somos</h1>
		<p>A Comissão de Resíduos foi criada em ........ pelo ......... com o objetivo de ............ Atualmente ela é composta por.......... e conta com a colaboração de toda a comunidade do CEFET-MG.</p>
		<h4>Equipe</h4>
		<div class="l-box">
			<div>
				<img src="http://placehold.it/400x250"
					 alt="Vídeo aulas e materiais digitais.">

				<img src="http://placehold.it/400x250"
					 alt="Vídeo aulas">

				<img src="http://placehold.it/400x250"
	 				alt="Vídeo aulas">
			</div>
		</div>
		<ul>
			<li>E-mail: <a href="mailto:contato@comissaoderesiduos.org">contato@comissaoderesiduos.org</a></li>
			<li>Twitter: <a href="https://twitter.com/comissao">@comissao</a></li>
		</ul>
	</div>
</div>
{% endblock %}
